/* Fonts */
@import url(//fonts.googleapis.com/css?family=Fjalla+One);

.parentApp {
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

.main-header {
    height: 300px;
    background-color: tan;
    background-size: cover;
    color: white;
  }

/* header section */

.headerSection {
    margin-bottom: 16px;
    overflow: hidden;
}

.headerSection h3{
    font-size: 48px;
    font-family: 'Fjalla One', sans-serif;
    text-align: start;
    margin: 40px 0;
}

.headerSection img {
    max-width: 40px;
    max-height: 40px;
    
}

.total {
    float: right;
    color: gray;
}

.total h6 {
    margin: 0;
}

.entireQuestionContainer {
    padding: 0px 20px;
}

.headerIcons {
    margin-left: 20px;
}

.headerDiv h1 {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    line-height: 200px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
}

.questionContainer {
    max-width: 1280px;
    min-width: 1280px;
    width: 100%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    margin-top: -100px;
    background-color: white;
}

.questionContainerSubsequent{
    max-width: 1280px;
    min-width: 1280px;
    width: 100%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    background-color: white;
}

/* optional section */

.optionalSectionHeader h5{
    font-size: 48px;
    font-family: 'Fjalla One', sans-serif;
    color: #556cd6;
    text-align: start;
    margin: 20px ;
}

.optionalSectionButtons {
    float: right;
}

.optionalSectionHeader button {
    margin-right: 20px;
}

/* summary section */

.summarySection{
    max-width: 1280px;
    min-width: 1280px;
    width: 100%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    /* margin-top: 30px; */
    background-color: #556cd6;
}

.summarySection h3 {
    font-size: 48px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    text-align: start;
    margin: 40px 0;
    padding-bottom: 20px;   
    border-bottom: 2px solid #dfe2e6;
}

.breakdown h4 {
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    text-align: start;
    margin-bottom: 16px;   
}

/* TextQuestion */

.horizontalRow {
    width: 100%;
    overflow: auto;
    margin: 0 0 20px 0;
}

.horizontalRow h4{
    font-size: 24px;
    margin: 25px 0 0 0;
}

.questionText {
    display: inline-block;
    text-align: left;
    float: left;
}

.textQuestionParagraph {
    font-size: 14px;
    color: lightgray;
    margin: 0 0;
}

.subtitles {
    display: inline-block;
    font-size: 16px;
    color: #6a6a6a;
    margin-bottom: 10px;
}

.questionIcon img {
    width: 20px;
    height: 20px;
    margin-left: 10px; 
}

.questionIcon {
    display: inline-block;
}

.incomeInput {
    display: inline-block;
    float: right;
    margin-top: 30px;
    width: 300px;
}

.checkboxInput {
    display: inline-block;
    float: right;
    margin-top: 30px;
    width: 300px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

.capText {
    display: inline-block;
    font-weight: bold;
}

/* unordered list */

.listContainer {
    width: 50%;
    float: left;
}

ul {
    padding: 0;
}

.unorderedList {
    list-style-type: none;
    padding: 0;
    color: white;
}

.unorderedList h6 {
    margin: 0;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.listItem {
    width: 100%;
    display: table;
    position: relative;
    padding-bottom: 10px;
}

.listItemTitle {
    display: table-cell;
    text-align: left;
    font-size: 20px;
}

.listItemAmount {
    display: table-cell;
    font-size: 20px;
    text-align: right;
}

/* chargeable income */

.chargeableIncome {
    width: 50%;
    float: left;
    overflow: hidden;
    text-align: center;
}

.totalTaxPaid {
    width: 75%;
    height: 25%;
    text-align: center;
    margin: auto;
    padding: 20px 20px;
    background-color: white;
    border-radius: 20px;
}

.chargeableIncome h3 {
    margin: 0;
    color: #556cd6;
    padding: 0;
    font-size: 24px;
    border-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
}

.taxPaid h3{
    color: black;
    font-size: 48px;
    text-align: center;
}

.totalTaxPaidText {
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif;
}

.taxPaidStats {
    margin: 20px;
    text-align: center;
}

.taxPaidStatsList {
    list-style-type: none;
    /* max-width: fit-content; */
    text-align: center;
}

.taxPaidStatsList img {
    width: 20px;
    height: 20px;
    padding-top: 4px;
    margin-right: 10px;
}

.taxPaidStatsList li {
    font-size: 24px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}
/* button */

.viewSummaryButton {
    margin-top: 40px;
}

/* border styles */

.b-border {
    border-bottom: 2px solid #dfe2e6;
}

.b-border-black {
    border-bottom: 2px solid #556cd6;
}

.question-bottom-border {
    border-bottom: 1px solid #f2f2f2;
    width: 50%;
    margin: 0;
}

.summaryBorder {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.chargeableBoxBorder {
    border-bottom: 2px solid #556cd6;
    margin-bottom: 10px;
}

/* responsive attributes */

@media (max-width: 1280px)  {
    .questionContainer, .summarySection, .questionContainerSubsequent  {
        min-width: 100%;
    }

    .listContainer {
        min-width: 100%;
    }

    .chargeableIncome {
        width: 100%;
        float: left;
        overflow: hidden;
        text-align: center;
    }

    .totalTaxPaid {
        width: 100%;
        height: 25%;
        text-align: center;
        margin: auto;
        padding: 20px 20px;
        background-color: white;
        border-radius: 20px;
    }
}

@media (max-width: 850px)  {
    .incomeInput {
        float: left;
    }

    .horizontalRow {
        margin: 0;
    }
}

@media (max-width: 640px)  {

.headerDiv h1 {
    font-size: 36px;
 }


.total {
    float: none;
}

 .question-bottom-border {
    border-bottom: 1px solid #f2f2f2;
    width: 90%;
    margin: 0;
}

.optionalSectionButtons {
    float: none;
    text-align: center;
}

}

@media (max-width: 570px)  {
    .listContainer {
        width: 500px;
        float: none;
    }

    .listItem {
        width: fit-content;
        display: block;
        float: inherit;
        padding-bottom: 10px;
    }

    .listItemAmount {
        display: block;
        float: inline-start;
        font-size: 20px;
        text-align: left;
    }

    .listItemAmount {
        display: block;
        float: inline-start;
        font-size: 20px;
        text-align: left;
    }
}

@media (max-width: 540px)  {
    .questionIcon img{
        display: none;
    }

    .questionIcon {
        display: none;
    }
}

@media (max-width: 470px)  {
    .headerDiv h1 {
        font-size: 30px;
     }  

}


@media (max-width: 400px)  {
    .incomeInput {
        display: inline-block;
        float: inline-start;
        margin-top: 30px;
        width: 250px;
    }

}

@media (max-width: 330px)  {
    .headerDiv h1 {
        font-size: 24px;
     }
     
     .incomeInput {
        display: inline-block;
        float: inline-start;
        margin-top: 30px;
        width: 220px;
    }
}

/* General Styles */
.inline-block {
    display: inline-block;
}

.bottom-padding-20 {
    padding-bottom: 20px;
}